{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
"Новости"
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Новости</h1>

{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

<hr>
{% if posts %}
<div class="container">
    <div class="row", style="margin-top: 50px;">
        {% for post in posts %}
        <div class="col-sm">
            <div class="card border-secondary mb-3", style="max-width: 20rem:">
                <div class="card-header">{{ post.header_post  }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ post.time_in }}</h4>
                    <p class="card-text">{{ post.text|truncatechars:20  }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}